header.titulo {
    padding:10px;
    border-bottom: 1px solid black;
}

header.titulo h1 {
    font-family: Helvetica, monospace;
    font-weight: bold;
    color:#fc0;
}

.menu ul {
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
}

.menu li:hover {
    background-color: black;
    cursor:pointer;
}

.menu li a {
    text-decoration: none;
    color:black;
}

.menu li:hover > a {
    color:#fc0;
}

.article {
    padding:10px;
}

.article h1 {
    font-family: Helvetica, monospace;
    font-weight: bold;
    font-size: larger;
}

.section {
    overflow: auto;
    margin-bottom: 20px;
}

.section h1 {
    font-family: Helvetica, monospace;
    font-size: medium;
    font-style: italic;
}

.detach {
    font-weight: bold;
}

.section ul {
    list-style-type:none;
    padding: 0;
}

.section img {
    width: 200px;
    float:left;
    margin-right: 10px;
}