div:hover {
    border: 1px solid black;
}

div:nth-child(3) {
    background-color: blue;
}

div:nth-child(4) {
    background-color: red;
}

div:nth-child(5) {
    background-color: green;
    height: 150px;
}

div:nth-child(6) {
    background-color: brown;
}

div:nth-child(7) {
    background-color: chocolate ;
}

div:nth-child(3) h3 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

div:nth-child(4) h3 {
    text-shadow: 2px 2px;
}

div:nth-child(5) h3 {
    text-decoration: underline;
    font-style: italic;
}

div:nth-child(6) h3 {
    font-size: xx-large;
}

div:nth-child(7) h3  {
    color: white;
    font-style: italic;
}
